<% content_for :stylesheets do %>
  <meta name="description" content="O Mennu é um aplicativo web que permite gerenciar e divulgar o cardápio diário do seu restaurante no smartphone, tablet, facebook ou em seu próprio website. É simples de usar.">
  <link rel="stylesheet" href="<%= asset_path "site.css" %>">
<% end %>

<% content_for :javascripts do %>
  <script src="<%= asset_path "site.js" %>"></script>
<% end %>

<div class="preloader"></div>

<main id="top" class="masthead" role="main">
  <div class="container"> 
    <div class="logo">
      <a href="#">
        <img src="<%= image_path "mennu-logo.png" %>" alt="startup-logo">
      </a>
    </div>
    <h1>A forma mais efetiva e <strong>poderosa</strong> <br />de <strong>promover seu restaurante, todo dia</strong></h1>
    <div id="form-top" class="row">
      <div class="col-md-6 col-sm-12 col-md-offset-3 subscribe2">
        <div class="form-group">
          <div class="col-md-12 col-sm-12">
            <a class="btn btn-success btn-lg btn-solicitar">Solicitar um contato</a>
          </div>
        </div>
      </div>
    </div>
    <a href="#explore" class="scrollto">
      <p>ROLE A PÁGINA PARA DESCOBRIR MAIS</p>
      <p class="scrollto--arrow">
        <img src="<%= image_path "scroll_down.png" %>" alt="scroll down arrow">
      </p>
    </a> 
  </div>
</main>

<div class="container" id="explore"> 
  <div class="section-title">
    <h2>Seu cardápio online, fazendo novos clientes.</h2>
    <h4>o aplicativo web para cardápios on-line que movimenta seu restaurante</h4>
  </div>
  <section class="row heroimg breath">
    <div class="col-md-12 text-center"> <img src="<%= image_path "flat-mockup-template.png" %>" alt="flat-mockup-template"></div>
  </section>
  <div class="section-title">
    <h2>Algumas características do Mennu Cardápios do Dia</h2>
    <h4>descubra as vantagens e caracteristicas que vão fazer o seu cliente se apaixonar pelo seu cardápio</h4>
  </div>
  <section class="row features"> 
    <div class="col-sm-6 col-md-3">
      <div class="thumbnail"> <img src="<%= image_path "flat-feature-icon-1.png" %>" alt="Fidelização de Clientes">
        <div class="caption">
          <h3>Fidelização de Clientes</h3>
          <p>Ao apresentar o Self-Service, o Mennu cria desejo e direciona ao restaurante. A fidelização acontece naturalmente: O cliente passa a consultar o cardápio diariamente, resultando em aumento nas visitas e nas vendas.</p>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-3">
      <div class="thumbnail"> <img src="<%= image_path "flat-feature-icon-2.png" %>" alt="Atualização em 2 minutos">
        <div class="caption">
          <h3 class="minor">Atualização em 2 minutos</h3>
          <p>O Mennu possui uma biblioteca contendo centenas de nomes de pratos e você pode incluir novas opções de acordo com o seu cardápio. Ao fazer o lançamento de pratos o sistema te ajuda com o recurso de auto completar.</p>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-3">
      <div class="thumbnail"> <img src="<%= image_path "flat-feature-icon-3.png" %>" alt="No seu ritmo">
        <div class="caption">
          <h3>No seu ritmo</h3>
          <p>O publicação do seu cardápio acontece no mesmo ritmo que você define os pratos em seu restaurante, pondendo ser diário, semanal ou mensal. Se for do seu interesse, você pode agendar as publicações de cardápio.</p>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-3">
      <div class="thumbnail"> <img src="<%= image_path "flat-feature-icon-4.png" %>" alt="Capta a atenção do cliente">
        <div class="caption">
          <h3 class="minor">Capta a atenção do cliente</h3>
          <p>Diferente de outras estratégias de marketing, o Mennu obtém a atenção dos seus clientes por oferecer a informação mais relevante sobre o seu restaurante: o cardápio do dia on-line.<br />
            Não é direto?!</p>
        </div>
      </div>
    </div>

    <div class="col-sm-6 col-md-3">
      <div class="thumbnail"> <img src="<%= image_path "flat-feature-icon-5.png" %>" alt="Todos acompanham">
        <div class="caption">
          <h3>Todos acompanham</h3>
          <p>O Mennu exibe o seu cardápio através da internet, seja no computador, no smartphone ou no tablet. A informação é exibida em seu site caso você tenha um, no facebook e também no endereço gratuito mennu.com.br/nome-do-seu-restaurante.</p>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-3">
      <div class="thumbnail"> <img src="<%= image_path "flat-feature-icon-6.png" %>" alt="Moderno e atualizado">
        <div class="caption">
          <h3>Moderno e atualizado</h3>
          <p>O Mennu é uma plataforma de comunicação digital e vem a cada dia ganhando mais tecnologia, com foco em ampliar resultados para restaurantes de boa qualidade.<br />
            A cada implementação nova no sistema seu restaurante sai ganhando.</p>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-3">
      <div class="thumbnail"> <img src="<%= image_path "flat-feature-icon-7.png" %>" alt="Suporte e Treinamento">
        <div class="caption">
          <h3>Suporte e treinamento</h3>
          <p>Você recebe treinamento para tirar o melhor proveito da ferramenta durante todo o tempo de forma gratuita. Aprender a usar é fácil e intuitivo. Você vai adorar publicar seus cardápios de forma digital.<br />
            E seus clientes também!</p>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-3">
      <div class="thumbnail"> <img src="<%= image_path "flat-feature-icon-8.png" %>" alt="Custo Mínimo">
        <div class="caption">
          <h3>Custo Mínimo</h3>
          <p>Por uma pequena mensalidade de R$ 99,00 por mês você obtem um forte resultado na conquisa e na manutenção de novos clientes para o seu restaurante.<br />
            Sem taxas extras.</p>
        </div>
      </div>
    </div>
  </section>  
</div>

<div class="highlight testimonials">
  <div class="container"> 
    <div class="section-title">
      <h2>Veja o que dizem sobre o Mennu</h2>
      <h4>Opinião de quem usa o Mennu diariamente</h4>
    </div>
    <section class="row breath">
      <div class="col-md-6">
        <div class="testblock">Aqui no Couve & Flor o Mennu é um aliado essencial para a divulgação dos nossos cardápios do dia. É ótimo para os clientes que podem diariamente consultar em nosso site todo o nosso buffet. Recomendamos o Mennu porque sentimos que ele adicona valor real ao nosso dia a dia.</div>
        <div class="clientblock"> <img src="<%= image_path "customer-img-1.jpg" %>" alt=".">
          <p><strong>Alice Assis</strong> <br>
            Sócia do Restaurante Couve & Flor</p>
        </div>
      </div>
      <div class="col-md-6">
        <div class="testblock">Gosto muito de consultar o cardápio do dia do restaurante Couve & Flor, vou montando meu prato na cabeça e quando chego ao restaurante é só alegria. Eu e meus colegas de trabalho consultamos o cardápio do dia por volta das 11:00, 11:30, diariamente.</div>
        <div class="clientblock"> <img src="<%= image_path "customer-img-2.jpg" %>" alt=".">
          <p><strong>Saulo Capelo</strong> <br>Cliente do Restaurante</a></p>
        </div>
      </div>
    </section>
  </div>
</div>

<div class="container"> 
  <div class="section-title">
    <h2>Preço econômico. Sem surpresas</h2>
    <h4>Planos e opções para facilitar todo tipo de escolha</h4>
  </div>
  <section class="row breath planpricing">
    <div class="col-md-4">
      <div class="pricing color1">
        <div class="planname">PlANO MENSAL</div>
        <div class="price"> <span class="curr">R$ </span>200<span class="per">,00 / MÊS</span></div>
        <div class="billing">-</div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="pricing color2">
        <div class="planname">PLANO ANUAL</div>
        <div class="price"> <span class="curr">R$ </span>150<span class="per">,00 / MÊS</span></div>
        <div class="billing">25% DE DESCONTO</div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="pricing color3">
        <div class="planname">PLANO TRIANUAL</div>
        <div class="price"> <span class="curr">R$ </span>99<span class="per">,00 / MÊS</span></div>
        <div class="billing">50% DE DESCONTO</div>
      </div>
    </div>
  </section>

  <div class="section-title"></div>

  <section class="row faq breath">
    <div class="col-md-6">
      <h6>Como funciona o período de testes?</h6>
      <p>Nossos 10 dias de teste são totalmente gratuitos e não é necessário efetuar nenhum tipo de cadastro com cartão de crédito. Se ao final da sua experiência você desejar continuar usando o sistema, ótimo. Senão, você pode cancelar sua conta ou solicitar à nossa equipe que matenha sua conta como inativa.</p>
      <h6>Posso mudar de planos futuramente?</h6>
      <p>Claro que sim. Se você optou por um plano mensal e desejar migrar para um plano anual ou trianual basta entrar em contato solicitando sua migração. Iremos ajustar os pagamentos conforme o seu novo plano.</p>
    </div>
    <div class="col-md-6">
      <h6>Preciso escolher um formato de plano agora?</h6>
      <p>Não. Quando o seu período de testes de 10 dias acabar você pode fazer a escolha se deseja fazer o plano mensal , anual ou trianual, de acordo com o formato que lhe parece melhor.<br/>&nbsp;</p>
      <h6>Quais os tipos de pagamento são aceitos?</h6>
      <p>Aceitamos pagamentos como boleto, depósito em conta e cartões de crédito como MasteCard, Vista e Visa Débito. Tudo isso através do sistema de pagamentos online mais seguro e prático do Brasil, o PagSeguro da UOL.</p>
    </div>
  </section>  
</div>

<main class="footercta" role="main">
  <div class="container"> 
    <h1 class="footer-title">Obtenha acesso ao Mennu Cardápios On-line</h1>
    <div class="row">
      <div class="col-md-12 breath text-center"> <a href="Javascript:void()" class="btn btn-success btn-lg btn-solicitar">Solicite um Contato</a> </div>
    </div>
  </div>
</main>

<div id="basic" class="well">
  <div id="form-top">
    <button class="basic_close btn btn-default">&#215;</button>
    <div class="subscribe">
      <h3>Solicite nosso contato</h3>
      <p>Preencha o formulário abaixo que entraremos em contato com você.</p>
      <form class="form-horizontal" role="form" action="/messages" id="subscribeForm" method="POST">
        <%= Rack::Csrf.csrf_tag(env) %>
        <div>
          <div>
            <input class="form-control input-lg" name="message[establishment]" type="text" placeholder="Restaurante" data-validate="validate(required)" required="required">
          </div>
          <div>
            <input class="form-control input-lg" name="message[name]" type="text" placeholder="Seu nome" data-validate="validate(required)" required="required">
          </div>
          <div>
            <input class="form-control input-lg" name="message[phone]" type="text" placeholder="Seu telefone" data-validate="validate(required)" required="required">
          </div>
          <div>
            <input class="form-control input-lg" name="message[email]" type="email" placeholder="Digite seu email" data-validate="validate(required, email)" required="required">
            <input class="honeypot" name="honeypot" type="text" value="">
          </div>
          <div class="btn-right">
            <button class="btn btn-success btn-md"><strong>Enviar</strong></a>
          </div>
        </div>
      </form>
      <span id="result" class="alertMsg"></span>
    </div>
  </div>
</div>
